{% extends "base.html" %}
{% block content %}
<h1> Hakutulokset </h1>
<h2> <small>Geenin haku (LDLR)</small></h2>

<!-- Tiedot listana! -->
<!--Linkkiä jonnekin, joku lisätietokenttä perään? -->
<table class="table">
    <tr>
        <th>Mutaatio</th>
        <th>Sairaus</th>
        <th>Lisätty (pvm)</th>
    </tr>
    <tr>
        <td>Gly823Asp</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
        <td>121214</td>
    </tr>
    <tr>
        <td>Leu380His</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
        <td>010307</td>
    </tr>
    <tr>
        <td>Gln12Ter</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
        <td>081298</td>
    </tr>
    <tr>
        <td>Asp283Asn</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
        <td>130472</td>
    </tr>
    <tr>
        <td>Cys660Ter</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
        <td>010101</td>
    </tr>
</table>
<button class="btn btn-primary">Tee uusi haku</button>
{% endblock %}