{% extends "base.html" %}
{% block content %}
<h1> Hakutulokset </h1>

<!-- Tiedot listana! -->
<table class="table">
    <tr>
        <th>Geeni</th>
        <th>Mutaatio</th>
        <th>Sairaus</th>
    </tr>
    <tr>
        <td>LDLR</td>
        <td>Gly823Asp</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
    </tr>
    <tr>
        <td>LDLR</td>
        <td>Leu380His</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
    </tr>
    <tr>
        <td>LDLR</td>
        <td>Gln12Ter</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
    </tr>
    <tr>
        <td>LDLR</td>
        <td>Asp283Asn</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
    </tr>
    <tr>
        <td>LDLR</td>
        <td>Cys660Ter</td>
        <td>Familiaalinen hyperkolesterolemia (FH)</td>
    </tr>
</table>
<button class="btn btn-primary">Tee uusi haku</button>
{% endblock %}