{% extends "base.html" %}
{% block content %}
<h1> Hakutulokset </h1>
<h2> <small>Mutaation joku tietosivu (SCN5A Arg1644His)</small></h2>

<!-- Tiedot listana! -->
<!-- Linkkiä, lisätietoa? -->
<table class="table">
    <tr>
        <th>Sairaus</th>
        <th>Mutaation tyyppi</th>
        <th>Lisätty (pvm)</th>
        <th>Jotain muuta tietoa</th>
    </tr>
    <tr>
        <td>Pitkä QT-syndrooma</td>
        <td>Patogeeninen</td>
        <td>121014</td>
        <td>Vaikka artikkeliviite?</td>
    </tr>
   
</table>
<button class="btn btn-primary">Tee uusi haku</button>
{% endblock %}