{% extends "base.html" %}
{% block content %}
<h1> Rekisteröidy! </h1>
<!--error-viestit eivät näy-->
{% if error %}
<div class="alert alert-danger">
    <!--Punakynää error-jutussa! -->
    <ul>
       {% for error in errors %}
       <li>{{error}}</li>
       {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/rekisteroitymissivu">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Salasana (min. 5 merkkiä)</label>
        <input name="salasana" class="form-control" value="{{attributes.salasana}}" type="password">
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input name="email" class="form-control" value="{{attribtues.email}}" type="email">
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
    </div>
</form>

{% endblock %}