{% extends "base.html" %}
{% block content %}
<h1> Hakutulokset </h1>
<h2> <small>Sairauden haku (Pitkä-QT-syndrooma)</small></h2>

<!-- Tiedot listana! -->
<!-- Linkkiä, lisätietoa? -->
<table class="table">
    <tr>
        <th>Geeni</th>
        <th>Mutaatio</th>
        <th>Lisätty (pvm)</th>
    </tr>
    <tr>
        <td>SCN5A</td>
        <td>Arg1644His</td>
        <td>121014</td>
    </tr>
    <tr>
        <td>SCN5A</td>
        <td>Ser941Asn</td>
        <td>210307</td>
    </tr>
    <tr>
        <td>KCNH2</td>
        <td>Ala561Val</td>
        <td>081208</td>
    </tr>
    <tr>
        <td>KCNH2</td>
        <td>Arg582Cys</td>
        <td>130412</td>
    </tr>
    <tr>
        <td>KCNQ1</td>
        <td>Ala178Pro</td>
        <td>111111</td>
    </tr>
</table>
<button class="btn btn-primary">Tee uusi haku</button>
{% endblock %}