{% extends "base.html" %}
{% block content %}
<h1> Muokkaus </h1>
<h2> <small>Muokkaa geenin tietoja</small></h2>

{% if errors %}
<div class="alert alert-danger">
    <ul>
       {% for error in errors %}
       <li>{{error}}</li>
       {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/geeni">
    <div class="form-group">
        <label>Nimi (lyhenne)</label>
        <input name ="nimi" class="form-control" value= "{{attributes.nimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Nimi (kokonimi)</label>
        <input name="kokonimi" class="form-control" value="{{attributes.kokonimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Sairaudet</label>
        <input name="sairaudet" class="form-control" value="{{attributes.sairaudet}}" type="text">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <input name="kuvaus" class="form-control" value="{{attributes.kuvaus}}" type="text">
    </div>
    <div class="form-group">
        <label>Pvm (YYYY-MM-DD)</label>
        <input name="lisayspvm" class="form-control" value="{{attributes.lisayspvm}}" type="date">
    </div>

    <button type="submit" class="btn btn-success">Tallenna</button>
  
{% endblock %}