{% extends "base.html" %}
{% block content %}
<h1>{{geeni.nimi}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Mutaatio</th>
            <th>Sairaus</th>
            <th>Lisätty (pvä)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{geeni.id}}</td>
            <td>{{geeni.mutaatiot}}</td>
            <td>{{geeni.sairaudet}}</td>
            <td>{{geeni.lisayspvm}}</td>
        </tr>
    </tbody>
    <td><a class="btn btn-link btn-lg" href="{{base_path}}/geeni">Geenit</td>
</table>
{% endblock %}