{% extends "base.html" %}
{% block content %}
<h1>{{geeni.nimi}}</h1>

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Sairaudet</th>
            <th>Kuvaus</th>
            <th>Lisätty (pvä)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{geeni.sairaudet}}</td>
            <td>{{geeni.kuvaus}}</td>
            <td>{{geeni.lisayspvm}}</td>
        </tr>
    </tbody>
    <td><a class="btn btn-link btn-lg" href="{{base_path}}/geeni">Geenit</td>
</table>
{% endblock %}