{% extends "base.html" %}
{% block content %}
<h1>Geenit</h1>
<!--Listaa kaikki tietokannassa olevat geenit -->
{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}
<p>
    <a href="{{base_path}}/geeni/new" class="btn btn-success">Lisää uusi geeni</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Linkki</th>
            <th>id</th>
            <th>Nimi (lyhenne)</th>
            <th>Nimi</th>
            <th>Sairaudet</th>
            <th>Kuvaus</th>
            <th>Lisätty (pvm)</th>
        </tr>
    </thead>

    <tbody>
        {% for geeni in geenit %}
        <tr>
            <td><a href="{{base_path}}/geeni/{{geeni.id}}">{{geeni.nimi}} </td>
            <td>{{geeni.id}}</td>
            <td>{{geeni.nimi}}</td>
            <td>{{geeni.kokonimi}}</td>
            <td>{{geeni.sairaudet}}</td>
            <td>{{geeni.kuvaus}}</td>
            <td>{{geeni.lisayspvm}}</td>
            <td><a class="btn btn-primary" href="{{base_path}}/geeni/{{geeni.id}}/edit">Muokkaa</td>
            <td><form method="post" action="{{base_path}}/geeni/{{geeni.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa geenin?">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

