{% extends "base.html" %}
{% block content %}
<h1>Sairaudet</h1>
<p>
    <a href="{{base_path}}/sairaus/new" class="btn btn-success">Lisää sairaus</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Linkki</th>
            <th>id</th>
            <th>Nimi</th>
            <th>Geenit</th>
            <th>Mutaatiot</th>
            <th>Lisätty (pvm)</th>
        </tr>
    </thead>
    
    <tbody>
        {% for sairaus in sairaudet %}
        <tr>
            <td><a href="{{base_path}}/sairaus/{{sairaus.id}}">{{sairaus.nimi}} </td>
            <td>{{sairaus.id}}</td>
            <td>{{sairaus.nimi}}</td>
            <td>{{sairaus.geenit}}</td>
            <td>{{sairaus.mutaatiot}}</td>
            <td>{{sairaus.lisayspvm}}</td>
            <td><a class="btn btn-primary" href="{{base_path}}/sairaus/{{sairaus.id}}/edit">Muokkaa</td>
            <td><form method="post" action="{{base_path}}/sairaus/{{sairaus.id}}/destroy" style="display: inline-block">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}