{% extends "base.html" %}
{% block content %}

<h1>Lisää uusi sairaus</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
       {% for error in errors %}
       <li>{{error}}</li>
       {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/sairaus">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Lyhenne</label>
        <input name="lyhenne" class="form-control" value="{{attributes.lyhenne}}" type="text">
    </div>
    <div class="form-group">
        <label>Geenit</label>
        <input name="geenit" class="form-control" value="{{attributes.geenit}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Kuvaus</label>
        <input name="kuvaus" class="form-control" value="{{attributes.kuvaus}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Pvm</label>
        <input name="lisayspvm" class="form-control" value="{{attributes.lisayspvm}}" type="date">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}