{% extends "base.html" %}
{% block content %}
<h1>{{sairaus.nimi}} ( {{sairaus.lyhenne}} )</h1>

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Geenit</th>
            <th>Kuvaus</th>
            <th>Lisätty (pvm)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{sairaus.id}}</td>
            <td>{{sairaus.geenit}}</td>
            <td>{{sairaus.kuvaus}}</td>
            <td>{{sairaus.lisayspvm}}</td>
        </tr>
    </tbody>
        <td><a class="btn btn-link btn-lg" href="{{base_path}}/sairaus">Sairaudet</td>
</table>
{% endblock %}